<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.css" rel="stylesheet">


    </head>
    <body data-smooth-scroll-offset="77">
        <div class="nav-container"> </div>
        <div class="main-container">
            <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="tabs-container tabs--folder">
                                        <center>
                                            	<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  							<path id="path72" style="fill:#000000;stroke-width:0.415488" d="m 137.06938,76.325036 -21.27988,66.410784 41.22518,13.20971 -8.08043,25.21758 -76.470641,-24.50335 8.080424,-25.21758 11.241441,3.60207 20.092966,-62.70661 a 63.807154,63.575302 17.766924 0 0 -57.840352,44.06589 63.807154,63.575302 17.766924 0 0 41.36412,80.01319 63.807154,63.575302 17.766924 0 0 80.163832,-41.0722 63.807154,63.575302 17.766924 0 0 -38.49666,-79.019484 z"/>
						</svg>
						<h1>传个球</h1>
                                        </center>

                                <ul class="tabs">
		  
                                    <li class="active">
                                        <div class="tab__title"> <span class="h5"><p>PC</p></span> <span class="label">Stable</span> </div>
                                        <div class="tab__content">
                                            <p class="lead">提供三个平台的可执行程序</p>
                                            <p class="lead"> - <a href="https://share-1256094865.cos.ap-beijing.myqcloud.com/tranclient/tranhost.exe.zip">Windows</a><br>- <a href="https://share-1256094865.cos.ap-beijing.myqcloud.com/tranclient/tranhost.app.zip">MacOSX</a>&nbsp;<br>- <a href="https://share-1256094865.cos.ap-beijing.myqcloud.com/tranclient/tranhost.tar.gz">Linux</a><br>当前版本尚不支持IPv4 NAT穿透，请确保设备已经连接IPv6网络</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5"><p>安卓</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead"> Android端尚不稳定，它仅在极少数设备上正常工作</p>
                                            <p class="lead">- 已知MIUI系统尚不支持ipv6<br><a href="https://share-1256094865.cos.ap-beijing.myqcloud.com/tranclient/TranClient.apk">下载</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title"> <span class="h5"><p>IOS</p></span> </div>
                                        <div class="tab__content">
                                            <p class="lead">由于IOS应用上架需要开发者证书，如想试用请到github自行编译。</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/parallax.js/1.5.0/parallax.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/smooth-scroll/9.4.3/js/smooth-scroll.js"></script>

    </body>

</html>
